#DonateContainer{
    width:100%;
    margin:0;
}
#Donation{
    width:100%;
}
#Donations li{
    float:left;
    padding:0;
    width:48%;
    margin-left:1%;
}
#Donations li img{
    width:100%;
}
h2{
    text-align: center;
    margin:0 0 10px 0;
    font-size:24px;
}
#ASDirections{
    list-style-type: decimal;
}
#ASDirections li{
    width:100%;
    float:left;
}
#ASDirections li p{
    margin:0;
}
@media (max-width: 1000px) {
    #Donations li{
    width:100%;
    }
    h2{
        font-size: 35px;
    text-align: center;
    margin:0 0 50px 0;
    }
}